header {
  width: 100%;
  height: 75px;
}

.pagetitle_box {
  width: 100%;
  text-align: center
}

.content_box {
  width: 85%;
  margin: 0.5rem auto;
  border: 1px dashed black;
}

.checkedfood_box {
 width: 100%;
 height: 50px;
 margin: 5px auto;
 display: flex;
 justify-content: space-between;
}

.checkedfood_area {
  width: 83%;
  height: 90%;
  border-radius: 8px;
  margin-left: 8px;
  border: 1px solid black;
}

.gotoBtn_area > button {
  padding: 8px;
  margin: 5px;
}


/* fridge head */
.fridgeHeader_box {
  width: 100%;
  height: 50px;
  margin: 5px auto;
  display: flex;
}

.frez_type {
  width: calc(100% / 3);
  height: auto;
  border: 1px solid black;
  margin: 0px 4px 0px 4px;
  display: flex;
  justify-content: space-between;
}

.type_box {
  width: 20%;
  text-align: center;
  line-height: 50px;
}

.type {
  text-align: center;
}

.filterBtn_box {
  width: 75%;
  display: flex;
  align-items: center;
}

.filterBtn {
  width: calc(100%/3);
  height: 75%;
  margin: 0 auto;
  color: white;
  cursor: pointer;
}

.green {
  background-color: green;
  border: none;
}

.yellow {
  background-color: yellow;
  border: none;
  color: black;
}

.red {
  background-color: red;
  border: none;
}

/* fridge inner */
.fridgeInner_box {
  width: 100%;
  min-height: 450px;
  margin: 5px auto;
  display: flex;
}


.food_container {
  width: calc(100% /3);
  min-height: 450px;
  border: 1px solid black;
  margin: 0px 4px 0px 4px;
}

.food_box {
  width: 95%;
  height: 90px;
  border: 1px solid black;
  margin: 8px auto;
  display: flex;
  position: relative;
}

.check_box {
  width: 15%;
  text-align: center;
  line-height: 90px;
  padding: 5px auto;
}

.food {
  width: 60%;
  display: flex;
  align-items: center;
  font-size: 17px;
}


.food_img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  border-radius: 50%;

}

.foodlife_box {
  width: 25%;
  text-align: center;
  line-height: 90px;
}


/* food Add and edit button */
.fridgeBtn_box {
  width: 100%;
  height: 50px;
  margin: 5px auto;
  display: flex;
  justify-content: flex-end;
}
.fridgeBtn {
  display: flex;
  align-items: center;
}
.fridgeBtn > button{
  width: 150px;
  height: 80%;
  margin-right: 8px;
}


footer {

    width: 100%;
    height: 75px;
    border-top: 1px dashed black;
}

@media (max-width: 900px) {

  /* check box */
  .gotoBtn_area > button {
    font-size: 10px;
  }

  /* fridge header */

  /* fridge inner */
  .food_img {
    display: none;
  }
}

@media (max-width: 700px) {

  /* check box */
  .gotoBtn_area > button {
    font-size: 10px;
  }

  /* fridge header */

  

  
  .type_box {
    font-size: 12px;
  }
  
  .type {
    text-align: center;
  }
  
  .filterBtn_box {
    width: 75%;
    display: flex;
    align-items: center;
  }
  /* fridge inner */

  .food {
    font-size: 15px;
  }
  .food_img {
    display: none;
  }

  .foodlife_box {
    display: none;
  }
}

