
figure {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

@keyframes showTag {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

figure::before {
  content: "tag";
  width: 100px;
  height: 30px;
  position: absolute;
  color: white;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
  line-height: 30px;
  background-color: black;
  animation: showTag 0.5s forwards;
  animation-delay: 3s;
  opacity: 0;
}
