

.blog-slider {
  width: 740px;
  position: relative;
  background: #fff;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
  padding: 25px;
  border-radius: 30px;
  height: 280px;
  margin-right: 10px;
  transition: all 0.3s;

  @media screen and (max-width: 1500px) {
    width: 80%;
    border-radius: 30px;
  }
  @media screen and (max-width: 992px) {
    width: 90%;
    height: 300px;
  }

  @media screen and (max-width: 768px) {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
  }

  @media screen and (max-height: 500px) and (min-width: 992px) {
    height: 350px;
  }

  &__item {
    display: flex;
    align-items: center;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    &.swiper-slide-active {
      .blog-slider__img {
        img {
          opacity: 1;
          transition-delay: 0.3s;
        }
      }
      .blog-slider__content {
        > * {
          opacity: 1;
          transform: none;

          @for $i from 0 to 15 {
            &:nth-child(#{$i + 1}) {
              transition-delay: $i * 0.1 + 0.3s;
            }
          }
        }
      }
    }
  }

  &__img {
    // width: 40%;
    width: 320px;
    flex-shrink: 0;
    height: 300px;
    border-radius: 30px;
    transform: translateX(-10px);
    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 30px;
      opacity: 0.8;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      opacity: 0;
      border-radius: 30px;
      transition: all 0.3s;
    }
   

    @media screen and (max-width: 992px) {
      // width: 45%;
      width: 280px;
    flex-shrink: 0;
    height: 300px;
    }
    @media screen and (max-width: 768px) {
      transform: translateY(-50%);
      width: 90%;
    }
    @media screen and (max-width: 576px) {
      width: 95%;
    }
    @media screen and (max-height: 500px) and (min-width: 992px) {
      height: 270px;
    }
  }

  &__content {
    // width: 60%;
    margin-left: 20px;
    padding-right: 25px;
    @media screen and (max-width: 992px) {
      // width: 55%;
    }
    @media screen and (max-width: 768px) {
      margin-top: -80px;
      text-align: center;
      padding: 0 30px;
    }

    @media screen and (max-width: 576px) {
      padding: 0;
    }
    > * {
      opacity: 0;
      transform: translateY(25px);
      transition: all 0.4s;
    }
  }

  &__code {
    color: #7b7992;
    margin-bottom: 10px;
    display: block;
    font-weight: 500;
  }

  &__title {
    font-size: 25px;
    font-weight: 700;
    color: #0d0925;
    margin-bottom: 10px;
  }

  &__text {
    color: #4e4a67;
    margin-bottom: 10px;
    line-height: 1.5em;
    font-size: 15px;
    width: 90%;
  }

  &__info {
    display: flex;
    margin-top: 20px;

    .cooking-time {
      font-size: 13px;
      color: #a8a7a3;
    }

    .materials {
      border-left: 1px solid lightgrey;
      font-size: 13px;
      color: #a8a7a3;
      margin-left: 20px;
      padding-left: 20px;
    }

    .time {
      margin-top: 5px;
    }

    .material > button {
      padding: 5px 12px;
      font-size: 11px;
      border: none;
      background-color: #eaeaea;
      border-radius: 30px;
      margin-right: 5px;
      margin-top: 5px;
    }

    @media screen and (max-width: 1500px) {
      width: 80%;
      border-radius: 30px;
    }
  }

  &__button {
    display: inline-flex;
    background: #febd2f;
    padding: 7px 25px;
    border-radius: 50px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;
    margin: 10px 0px 0px 0px;
    @media screen and (max-width: 576px) {
      width: 100%;
    }
  }
  .swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
  }
  &__pagination {
    position: absolute;
    z-index: 21;
    right: 20px;
    width: 11px !important;
    text-align: center;
    left: auto !important;
    top: 50%;
    bottom: auto !important;
    transform: translateY(-50%);
    @media screen and (max-width: 768px) {
      transform: translateX(-50%);
      left: 50% !important;
      top: 205px;
      width: 100% !important;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &.swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 8px 0;
      @media screen and (max-width: 768px) {
        margin: 0 5px;
      }
    }

    .swiper-pagination-bullet {
      width: 11px;
      height: 11px;
      display: block;
      border-radius: 10px;
      background: #062744;
      opacity: 0.2;
      transition: all 0.3s;
      &-active {
        opacity: 1;
        background: #ebc72a;
        height: 30px;
        box-shadow: 0px 0px 20px rgba(228, 191, 27, 0.3);

        @media screen and (max-width: 768px) {
          height: 11px;
          width: 30px;
        }
      }
    }
  }

  #icon {
    color: #febd2f;
    font-size: 20px;
  }
}
